@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="Register" ng-app="app">
    <div id="signupbox" style="display:normal; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Sign Up</div>
                <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="/Account/Login">Sign In</a></div>
            </div>
            <div class="panel-body">            
                    <div id="signupalert" style="display:none" class="alert alert-danger">
                        <p>Error:</p>
                        <span></span>
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <label for="UserName" class="col-md-3 control-label">User Name</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="User_Name" name="User_Name" placeholder="User Name">
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <label for="UserName" class="col-md-3 control-label">First Name</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="First_Name" name="First_Name" placeholder="First Name">
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <label for="UserName" class="col-md-3 control-label">Last Name</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="Last_Name" name="Last_Name" placeholder="Last Name">
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="form-group" ng-hide="dataHide" ng-show="dataShow" >
                        <label class="col-md-3 control-label">Department</label>
                        <span class="col-md-8">
                            <select class="form-control" ng-model="selected"
                                    ng-options="dep.value for dep in Departments track by dep.option"></select>
                        </span>
                    </div>
                <div class="form-group"  ng-hide="dataHide2" ng-show="dataShow">
                    <label class="col-md-3 control-label">Manager</label>
                    <span class="col-md-8">
                        <select class="form-control" ng-model="selected"
                                ng-options="man.value for man in Managers track by man.option"></select>
                    </span>
                </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <label for="Password" class="col-md-3 control-label">Password</label>
                        <div class="col-md-8">
                            <input type="password" class="form-control" ng-model="Password" name="Password" placeholder="Password">
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <label for="ConfirmPassword" class="col-md-3 control-label">Confirm Password</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="Confirm_Password" name="Confirm_Password" placeholder="Confirm password">
                        </div>
                    </div>
                    <br />
                    <br />
                <div ng-init="stuff='man'">
                    <label class="btn btn-default">
                        <input name="cssPre" id="css2" value="emp" type="radio" ng-model="stuff">Employee
                    </label>
                    <label class="btn btn-default">
                        <input name="cssPre" id="css3" value="man" type="radio" checked="checked" ng-model="stuff">Manager
                    </label>
                    <label class="btn btn-default">
                        <input name="cssPre" id="css4" value="adm" type="radio" ng-model="stuff">Admin,Director
                    </label>
                </div>
                <br />
                <br />
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-8">
                            <input type="submit" value=" Sign Up" ng-click="UpdateAddRegister()" class=" btn btn-primary col-md-3"/>
                        </div>
                    </div>        
            </div>
        </div>
    </div>
 </div>

    @*public int IdEmployee { get; set; }
        public string UserName { get; set; }
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public Employee DepartmentHead { get; set; }
        public Employee ManagerCompany { get; set; }
        public virtual Department Department { get; set; }
        public int IdDepartment { get; set; }*@
